---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Accessories from "../components/Accessories.astro";
import ModelThree from "../components/ModelThree.astro";
import ModelY from "../components/ModelY.astro";
import ModelX from "../components/ModelX.astro";
import ModelS from "../components/ModelS.astro";
import PowerWall from "../components/PowerWall.astro";
import FooterMenu from "../components/FooterMenu.astro";
import "../styles.css";
import "../fonts.css";
---

<Layout title="Tesla - El mejor auto del mundo">

	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">

		<div id="home" class="snap-center">
			<HeroSection />
		</div>

		<div id="model-three" class="snap-center">
			<ModelThree />
		</div>

		<div id="model-y" class="snap-center">
			<ModelY />
		</div>

		<div id="model-x" class="snap-center">
			<ModelX />
		</div>

		<div id="model-s" class="snap-center">
			<ModelS />
		</div>

		<div id="power-wall" class="snap-center">
			<PowerWall />
		</div>

		<div id="accessories" class="snap-center">
			<Accessories />
		</div>

		<div class="snap-center">
			<FooterMenu />
		</div>

	</main>

		

</Layout>


